---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main class="container">
		<section class="main-content row py-5">
			<h1 class="col-10 col-sm-6 fw-light align-middle">Find what you're looking for at MarketSquare's worldwide bazaar.</h1>
			<p class="col-10 col-md-4 offset-md-2 lead">
				Join the global shopping revolution with MarketSquare.
				<a class="font-monospace fs-5" href="/signup" title="Join the global shopping revolution with MarketSquare.">
					Sign Up
				</a>
			</p>
		</section>

		<section class="categories mt-4 row">
			<div class="col-12 col-sm-3 mb-3 mb-sm-0">
				<div class="card">
					<img src="/images/sofa-1.jpg" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-3 mb-3 mb-sm-0">
				<div class="card">
					<img src="/images/sofa-2.jpg" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-3 mb-3 mb-sm-0">
				<div class="card">
					<img src="/images/sofa-3.jpg" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-3 mb-3 mb-sm-0">
				<div class="card">
					<img src="/images/sofa-4.jpg" class="card-img-top" />
					<div class="card-body">
						<h5 class="card-title">Special title treatment</h5>
						<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
