---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Sign In">
	<main class="sign-in container">
		<section class="d-flex justify-content-center align-items-center">

		</section>
	</main>
</Layout>
