
.main-content {
	background-image: url("/images/sofa.webp");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	min-height: 35rem;
}
.main-content h1,
.main-content p.lean {
	color: #fff;
	margin-top: 25%;
}
.main-content h1 {
	padding: 1rem;
	padding-left: 5rem;
	background-color: rgba(0,0,0,.3);
	margin-left: -3rem;
}
