---
import Layout from "../../layouts/Layout.astro";
import "../../assets/detail.css";
---

<Layout title="Product detail">
	<main class="detail container">
		<article class="row mt-5">
			<div class="col-12 col-sm-7">
				<div class="image-grid">
					<img
						class="rounded border border-secondary thumb image1"
						src="/images/chair-1.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border thumb image2"
						src="/images/chair-2.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border thumb image3"
						src="/images/chair-6.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border thumb image4"
						src="/images/chair-3.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border thumb image5"
						src="/images/chair-4.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border thumb image6"
						src="/images/chair-5.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="image7"
						src="/images/chair-1.webp"
						alt=""
						width="600"
						height="600"
					/>
				</div>
			</div>
			<div class="col-12 col-md-4 mt-5 mt-sm-0">
				<h1 class="fs-3 text">SEAT-OF-THE-ART Chair</h1>
				<p class="mt-4 mb-3">
					Nisl fermentum nibh ornare penatibus egestas porttitor imperdiet maecenas, condimentum sed pharetra aptent euismod congue turpis senectus morbi, quis nascetur dapibus rhoncus accumsan facilisi aliquet.
				</p>
				<p class="raiting">
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star"></span>
					(6)
				</p>
				<span class="price fs-4 text">$ 85.89</span>
				<span
					class="price fs-5 text text-decoration-line-through text-danger fw-light"
					>$ 95.89</span
				>
				<div class="variants mx-auto grid gap-3 mt-5">
					<img
						class="rounded border border-secondary"
						src="/images/chair-1.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border"
						src="/images/chair-2.webp"
						alt=""
						width="100"
						height="100"
					/>
					<img
						class="rounded border"
						src="/images/chair-6.webp"
						alt=""
						width="100"
						height="100"
					/>
				</div>
				<div class="cta mt-5 d-grid">
					<button type="button" class="btn btn-success">
						Add to cart
					</button>
				</div>
			</div>
			<div class="col-12 col-sm-7 border-top mt-5 pt-5">
				<h5>Product features</h5>
				<p class="mt-3 mb-5">
					Magna accumsan dignissim tortor non tempor eros rhoncus placerat, venenatis odio pulvinar viverra vitae pellentesque bibendum mauris, dapibus turpis commodo tincidunt quam ridiculus vehicula. Litora dui aliquam ut tortor class primis, congue lacus ridiculus commodo potenti placerat varius, libero massa eget vulputate venenatis. Porttitor eu vulputate nunc eget erat interdum taciti, nullam dictumst pellentesque fames ridiculus auctor leo at, maecenas per cursus dictum aliquet urna. Euismod dis magna himenaeos suspendisse fermentum elementum rutrum tincidunt, cras vel nisl velit imperdiet est eu arcu pharetra, proin aptent mollis congue vehicula tortor fringilla.
				</p>
				<h6>ITEM INFORMATION</h6>
				<ul>
					<li>Lorem ipsum dolor sit amet consectetur, adipiscing elit quisque.</li>
					<li>Placerat nisi varius at inceptos tortor, maecenas faucibus metus conubia.</li>
					<li>Massa senectus nascetur scelerisque, est class.</li>
					<li>Mattis molestie per mi fermentum, orci imperdiet luctus.</li>
					<li>Id vestibulum tempus egestas primis platea, mattis ad erat.</li>
				</ul>
			</div>
		</article>
	</main>
</Layout>
