---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Products">
	<main class="products container">
		<h1 class="text-center my-3">Products</h1>
		<p class="text-center col-12 col-sm-6 offset-sm-3 mb-5">
			Ridiculus vestibulum pulvinar praesent parturient aliquet fringilla hendrerit arcu dictum ornare, cras quisque curae consequat auctor risus et ad maecenas, nulla purus conubia leo a dui pharetra suscipit vitae.
		</p>
		<div class="row">
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-1.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-2.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-6.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-1.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-2.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<div class="shadow-sm card border-1">
					<img src="/images/chair-6.webp" class="card-img-top" alt="SEAT-OF-THE-ART Chair" />
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">SEAT-OF-THE-ART Chair</h5>
						<p class="card-text mt-auto align-self-start">
							<a href="/products/detail" class="stretched-link">
								$ 85.89
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>
