---
import Layout from "../../layouts/Layout.astro";
import '../../assets/signin.css';
---

<Layout title="Sign In">
	<main class="sign-in container">
		<section class="d-flex justify-content-center align-items-center flex-column">
			<h1 class="text-center my-3 flex-1">Sign Up</h1>
			<p class="text-center col-12 col-sm-6 mb-5">
				Ridiculus vestibulum pulvinar praesent parturient aliquet fringilla hendrerit arcu dictum ornare, cras quisque curae consequat auctor risus et ad maecenas.
			</p>
			<form 
				method="post" 
				action="/signup/confirmation" 
				netlify-honeypot="bot-field" 
				data-netlify="true"
				name="sign-in"
				class="col-12 col-md-4 row"
			>
				<div class="hidden d-none">
					<label for="bot-field">Don't fill this out if you're human: </label>
					<input id="bot-field" name="bot-field" />
				</div>
				<div class="col-12 mb-3">
					<label for="name" class="form-label">Name</label>
					<input type="text" class="form-control" id="name" name="name" required>
				</div>
				<div class="col-12 mb-3">
					<label for="email" class="form-label">E-mail</label>
					<input type="email" class="form-control" id="email" name="email" required>
				</div>
				<div class="col-12 mb-3">
					<label for="phone" class="form-label">Phone</label>
					<input type="tel" class="form-control" id="phone" name="phone" required>
				</div>
				<div class="col-12 mb-3">
					<label for="password" class="form-label">Password</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</div>
				<div class="col-12 my-3 d-grid">
					<button type="submit" class="btn btn-success">Sign Up</button>
				</div>
			</form>
			<div class="col-12 col-sm-4 mb-3 d-grid px-2">
				<div class="separator mt-3 mb-4">
					<span class="h4 mb-0 px-3">Or</span>
				</div>
				<a href="/signin" class="btn btn-success" tabindex="-1" role="button" title="Sign In">Sign In</a>
			</div>
		</section>
	</main>
</Layout>
